/.DS_Store
/jobrouter/.DS_Store
/jobrouter/widgets/.DS_Store
/jobrouter/systemaktivität/.DS_Store
/jobrouter/widgets/cdm smith/.DS_Store
/jobrouter/widgets/Eingang/.DS_Store
/jobrouter/widgets/Liste/.DS_Store
/jobrouter/systemaktivität/pedant/.DS_Store
/jobrouter/systemaktivität/pedant/SystemActivityStub.php
/jobrouter/widgets/cdm smith/Simplibills/WidgetsStub.php
/jobrouter/widgets/cdm smith/Simplidone/WidgetsStub.php
/jobrouter/widgets/cdm smith/Simplidents/WidgetsStub.php
