<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.0/css/all.min.css" type="text/css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

<script>
let invisLabel = JSON.parse(document.getElementById("simplidents_invisLabel").innerHTML);
let invisIncident = JSON.parse(document.getElementById("simplidents_invisIncident").innerHTML);
let invisEinheit = JSON.parse(document.getElementById("simplidents_invisEinheit").innerHTML).einheit;
let invisEinheitsnummer = JSON.parse(document.getElementById("simplidents_invisEinheit").innerHTML).einheitsnummer;


simplidentsWidget();
$j('#simplidents_outerBox').parent().toggleClass('simplidents_background', true);

function simplidentsWidget(){
	let outerBox = document.getElementById("simplidents_outerBox");

    let dropDownContainer = document.createElement("div");
    dropDownContainer.setAttribute("class", "simplidents_dropDownContainer");
    outerBox.appendChild(dropDownContainer);

    let dropDown = document.createElement("select");
    dropDown.id = "simplidents_dropDown";
    dropDown.setAttribute("class", "simplidents_dropDown");
    dropDown.addEventListener("change", function() {simplidentsUpdate();});

    for (let i = 0; i < invisEinheit.length; i++) {
        let option = document.createElement("option");
        option.value = invisEinheit[i];
        option.text = invisEinheit[i];
        dropDown.appendChild(option);
    }
    dropDownContainer.appendChild(dropDown);

    let loader = document.createElement("div");
    loader.setAttribute("class", "simplidents_loader");
    loader.style.opacity = '0';
    dropDownContainer.appendChild(loader);

    let gridContainer = document.createElement("div");
        gridContainer.id = "simplidents_gridContainer";
        gridContainer.setAttribute("class", "simplidents_gridContainer");
    outerBox.appendChild(gridContainer);

    simplidentsCreateTable();
}

function simplidentsCreateTable(){
    let gridContainer = document.getElementById("simplidents_gridContainer");
    gridContainer.innerHTML = '';
    let gridBoxLeft = document.createElement("div");
    gridBoxLeft.setAttribute("class", "simplidents_gridBox");
    gridContainer.appendChild(gridBoxLeft);
    let gridBoxRight = document.createElement("div");
        gridBoxRight.setAttribute("class", "simplidents_gridBox");
    gridContainer.appendChild(gridBoxRight);
    for(let i = 0; i < invisLabel.length; i++){
        let label = document.createElement("div");
            label.setAttribute("class", "simplidents_label");
            label.innerHTML = invisLabel[i];
        gridBoxLeft.appendChild(label);
        let incident = document.createElement("div");
            incident.setAttribute("class", "simplidents_incident");
            incident.innerHTML = invisIncident[i];
        gridBoxRight.appendChild(incident);
    }
}

function simplidentsUpdate() {
    let loader = document.getElementsByClassName("simplidents_loader")[0];
    loader.style.opacity = '100';

    einheit = document.getElementById("simplidents_dropDown").value;
    let einheitIndex = invisEinheit.indexOf(einheit);
    let einheitsnummer = invisEinheitsnummer[einheitIndex];

    $j.ajax({
        url: "dashboard/MyWidgets/Simplidents/query.php",
        type: "GET",
        data: { einheit: einheitsnummer },
        dataType: "text",
        success: function (data) {
            invisIncident = JSON.parse(data);
            simplidentsCreateTable();
            loader.style.opacity = '0';
        },
        error: function (jqXHR, textStatus, errorThrown) {
            console.log(textStatus, errorThrown);
        }
    });
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#simplidents_outerBox{
    width: 100%;
    font-family: 'Poppins';
}

.simplidents_dropDownContainer{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 10px;
}

.simplidents_dropDown{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    line-height: 1.75;
    border: 1px solid #242730;
    border-radius: 5px;
    background-color: #242730;
    color: #FFCC0D;
}

.simplidents_background{
    background-color: #3B3E4D;
    color: #FFCC0D;
    border: none;
}

.simplidents_gridContainer{
    display: grid;
    grid-template-columns: 70% 30%;
}

.simplidents_gridBox{
    padding: 10px;
    font-size: 16px;
    line-height: 1.75;
}

.simplidents_label{
    border-bottom: 1px solid #252730;
    white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;
}

.simplidents_incident{
    text-align: right;
    border-bottom: 1px solid #252730;
    overflow: hidden;
	text-overflow: ellipsis;
}

.simplidents_loader {
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-top: 3px solid #FFCC0D;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 1s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

[id^="simplidents_invis"]{
    display: none;
}
</style>

<div id="simplidents_invisIncident">{{incidents}}</div>
<div id="simplidents_invisLabel">{{labels}}</div>
<div id="simplidents_invisEinheit">{{einheit}}</div>
<div id="simplidents_outerBox"></div>
