<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.0/css/all.min.css" type="text/css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

<script> 
let invisLabel= JSON.parse(document.getElementById("simplibills_invisLabel").innerHTML);
let invisIncident= JSON.parse(document.getElementById("simplibills_invisIncident").innerHTML);
let invisEinheit = JSON.parse(document.getElementById("simplibills_invisEinheit").innerHTML);


simplibillsWidget();
$j('#simplibills_outerBox').parent().toggleClass('simplibills_background', true);

function simplibillsWidget(){
	let outerBox = document.getElementById("simplibills_outerBox");
    
    let dropDown = document.createElement("select");
    dropDown.id = "simplibills_dropDown";
    dropDown.setAttribute("class", "simplibills_dropDown");
    dropDown.addEventListener("change", function() {
        update2();
    });
    for (let i = 0; i < invisEinheit.length; i++) {
        let option = document.createElement("option");
        option.value = invisEinheit[i];
        option.text = invisEinheit[i];
        dropDown.appendChild(option);
    }
    outerBox.appendChild(dropDown);
    let gridContainer = document.createElement("div");
        gridContainer.id = "simplibills_gridContainer";
        gridContainer.setAttribute("class", "simplibills_gridContainer");
    outerBox.appendChild(gridContainer);
    createTable();
}

function createTable(){
    let gridContainer = document.getElementById("simplibills_gridContainer");
        gridContainer.innerHTML = "";
        let gridBoxLeft = document.createElement("div");
            gridBoxLeft.setAttribute("class", "simplibills_gridBox");
        gridContainer.appendChild(gridBoxLeft);
        let gridBoxRight = document.createElement("div");
            gridBoxRight.setAttribute("class", "simplibills_gridBox");
        gridContainer.appendChild(gridBoxRight);
        for(let i = 0; i < invisLabel.length; i++){
            let label = document.createElement("div");
                label.setAttribute("class", "simplibills_label");
                label.innerHTML = invisLabel[i];
            gridBoxLeft.appendChild(label);
            let incident = document.createElement("div");
                incident.setAttribute("class", "simplibills_incident");
                incident.innerHTML = invisIncident[i];
            gridBoxRight.appendChild(incident);
        }
}

function update2() {
        einheit = document.getElementById("simplibills_dropDown").value;

        $j.ajax({
            url: "dashboard/MyWidgets/Simplibills/query.php",
            type: "GET",
            data: { einheit: einheit },
            dataType: "text",
            success: function (data) {
                invisIncident = JSON.parse(data);
                createTable();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
            }
        });
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#simplibills_outerBox{
    width: 100%;
    font-family: 'Poppins';
}

.simplibills_dropDown{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    line-height: 1.75;
    border: none;
    background-color: #242730;
    color: #FFCC0D;
}

.simplibills_background{
    background-color: #3B3E4D;
    color: #FFCC0D;
    border: none;
}

.simplibills_gridContainer{
    display: grid;
    grid-template-columns: 70% 30%;
}

.simplibills_gridBox{
    padding: 10px;
    font-size: 16px;
    line-height: 1.75;
}

.simplibills_label{
    border-bottom: 1px solid #252730;
    white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;
}

.simplibills_incident{
    text-align: right;
    border-bottom: 1px solid #252730;
    overflow: hidden;
	text-overflow: ellipsis;
}

[id^="simplibills_invis"]{
    display: none;
}
</style>

<div id="simplibills_invisIncident">{{incidents}}</div>
<div id="simplibills_invisLabel">{{labels}}</div>
<div id="simplibills_invisEinheit">{{einheit}}</div>
<div id="simplibills_outerBox"></div>
