<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.15.4/css/all.css' integrity='sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm' crossorigin='anonymous' />
<link rel='stylesheet' href='https://unicons.iconscout.com/release/v4.0.8/css/line.css' />
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.0/css/all.min.css' type='text/css' />
<link rel='stylesheet' href='//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css' />

<script src='script.js' />
<style src="style.css" />

<div id="simplifyTable_columns" style="display:none;">{{columns}}</div>
<div id="simplifyTable_dropdownOptions" style="display:none;">{{dropdownOptions}}</div>
<div id="simplifyTable_tableData" style="display:none;">{{tableData}}</div>

<div id="simplifyTable_app"></div>
