<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.0/css/all.min.css" type="text/css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

<script>
let invisLabel= JSON.parse(document.getElementById("simplibills_invisLabel").innerHTML);
let invisIncident= JSON.parse(document.getElementById("simplibills_invisIncident").innerHTML);
let invisEinheit = JSON.parse(document.getElementById("simplibills_invisEinheit").innerHTML).einheit;
let invisEinheitsnummer = JSON.parse(document.getElementById("simplibills_invisEinheit").innerHTML).einheitsnummer;
let username = '';


simplibillsWidget();
$j('#simplibills_outerBox').parent().toggleClass('simplibills_background', true);

function simplibillsWidget(){
	let outerBox = document.getElementById("simplibills_outerBox");

    let dropDownContainer = document.createElement("div");
    dropDownContainer.setAttribute("class", "simplibills_dropDownContainer");
    outerBox.appendChild(dropDownContainer);

    let dropDown = document.createElement("select");
    dropDown.id = "simplibills_dropDown";
    dropDown.setAttribute("class", "simplibills_dropDown");
    dropDown.addEventListener("change", function() {
        simplibillsUpdate();
    });
    for (let i = 0; i < invisEinheit.length; i++) {
        let option = document.createElement("option");
        option.value = invisEinheit[i];
        option.text = invisEinheit[i];
        dropDown.appendChild(option);
    }
    dropDownContainer.appendChild(dropDown);

    let inputWrapper = document.createElement("div");
    inputWrapper.setAttribute("class", "simplibills_inputWrapper");

    let usernameInput = document.createElement("input");
    usernameInput.type = "text";
    usernameInput.id = "simplibills_username";
    usernameInput.placeholder = "Username";
    inputWrapper.appendChild(usernameInput);

    let sendButton = document.createElement("button");
    sendButton.id = "simplibills_sendButton";
    sendButton.setAttribute("class", "fa-solid fa-paper-plane");
    sendButton.addEventListener("click", function(){
        username = usernameInput.value;
        simplibillsUpdate();
    });
    inputWrapper.appendChild(sendButton);

    dropDownContainer.appendChild(inputWrapper);

    let gridContainer = document.createElement("div");
        gridContainer.id = "simplibills_gridContainer";
        gridContainer.setAttribute("class", "simplibills_gridContainer");
    outerBox.appendChild(gridContainer);
    simplibillsCreateTable();
}

function simplibillsCreateTable(){
    let gridContainer = document.getElementById("simplibills_gridContainer");
        gridContainer.innerHTML = "";
    let gridBoxLeft = document.createElement("div");
        gridBoxLeft.setAttribute("class", "simplibills_gridBox");
    gridContainer.appendChild(gridBoxLeft);
    let gridBoxRight = document.createElement("div");
        gridBoxRight.setAttribute("class", "simplibills_gridBox");
    gridContainer.appendChild(gridBoxRight);
    for(let i = 0; i < invisLabel.length; i++){
        let label = document.createElement("div");
            label.setAttribute("class", "simplibills_label");
            label.innerHTML = invisLabel[i];
        gridBoxLeft.appendChild(label);
        let incident = document.createElement("div");
            incident.setAttribute("class", "simplibills_incident");
            incident.innerHTML = invisIncident[i];
        gridBoxRight.appendChild(incident);
    }
}

function simplibillsUpdate() {
    let outerBox = document.getElementById("simplibills_outerBox");
    outerBox.style.opacity = '0.5';
    let loader = document.getElementById("simplibills_loader");
    loader.style.opacity = '100';

    einheit = document.getElementById("simplibills_dropDown").value;
    let einheitIndex = invisEinheit.indexOf(einheit);
    let einheitsnummer = invisEinheitsnummer[einheitIndex];
    username = document.getElementById("simplibills_username").value;

    $j.ajax({
        url: "dashboard/MyWidgets/Simplibills/query.php",
        type: "GET",
        data: { einheit: einheitsnummer, username: username },
        dataType: "text",
        success: function (data) {
            invisIncident = JSON.parse(data);
            simplibillsCreateTable();
            loader.style.opacity = '0';
            outerBox.style.opacity = '100';
        },
        error: function (jqXHR, textStatus, errorThrown) {
            console.log(textStatus, errorThrown);
        }
    });
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#simplibills_outerBox{
    width: 100%;
    font-family: 'Poppins';
}

.simplibills_dropDownContainer{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 10px;
}

.simplibills_dropDown{
    width: 80%;
    padding: 5px;
    font-size: 16px;
    line-height: 1.75;
    border: 1px solid #242730;
    border-radius: 5px;
    background-color: #242730;
    color: #FFCC0D;
}

.simplibills_inputWrapper {
    display: flex;
    gap: 8px;
    border: 2px solid #242730;
    border-radius: 5px;
    background-color: #242730;
    color: #FFCC0D;
}

#simplibills_username {
    width: 100%;
    font-size: 16px;
    line-height: 1.75;
    border: none;
    background: none;
}

#simplibills_sendButton {
    font-size: 16px;
    line-height: 1.75;
    border: none;
    background: none;
    cursor: pointer;
}

.simplibills_background{
    background-color: #3B3E4D;
    color: #FFCC0D;
    border: none;
}

.simplibills_gridContainer{
    display: grid;
    grid-template-columns: 70% 30%;
}

.simplibills_gridBox{
    padding: 10px;
    font-size: 16px;
    line-height: 1.75;
}

.simplibills_label{
    border-bottom: 1px solid #252730;
    white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;
}

.simplibills_incident{
    text-align: right;
    border-bottom: 1px solid #252730;
    overflow: hidden;
	text-overflow: ellipsis;
}

#simplibills_loader {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top: 5px solid #FFCC0D;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 0;
    opacity: 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

[id^="simplibills_invis"]{
    display: none;
}
</style>

<div id="simplibills_invisIncident">{{incidents}}</div>
<div id="simplibills_invisLabel">{{labels}}</div>
<div id="simplibills_invisEinheit">{{einheit}}</div>
<div id="simplibills_loader"></div>
<div id="simplibills_outerBox"></div>
